@keyframes headerGradient {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes imageDayBorder {
    from {
        background-position: 0%;
    }

    to {
        background-position: 300%;
    }
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes libraryGradient {
    0% {
        background-position: 50%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0;
    }
}

@keyframes btnHover {
    to {
        background-position: 100% 0%;
        transform: scale(120%);
    }
}

@keyframes btnNoHover {
    to {
    background-position: 0% 0%;
    transform: scale(100%);
    }
}

@keyframes footerGradient {
    0% {
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

@keyframes btnHoverMars {
    to {
        background-position: 100% 0%;
    }
}