@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-Black.ttf) format('truetype');
}

@font-face {
    font-family: TROGLO;
    src: url(../fonts/TROGLOP_.ttf) format('truetype');
}